<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <title>Todo List</title>
</head>
<body>
<div class="w3-content">
<div class="w3-card-4"  style="height:600px;">   
  
    <div class="w3-container w3-green">
        <h2>Todo List</h2>
    </div>
    <div class="w3-margin"></div>
  <div class="w3-container" id="todo">
      <div>
      <label for="tarea">Tarea</label>
      <input type="text" id="tarea" v-model="tarea" class="w3-input w3-border">
      <label for="desc">Desc</label>
      <textarea id="desc"  v-model="desc" class="w3-input w3-border"></textarea>
      <!-- <div class="w3-padding"></div> -->
      <button class="w3-button w3-green w3-right w3-margin w3-hover-black" style="resize: none !important;" v-on:click="add()">agregar</button>
    </div>

        <div class="w3-row">
                <h2>Lista</h2>
            <div class="w3-container w3-third " style="overflow-y:auto; max-height:200px;">
                  
                <ul class="w3-ul" >
                    <li v-for="item in items" v-on:click="showDesc(item.tarea)" class="w3-border w3-hover-green w3-display-container">
                       {{item.tarea}}
                        <span v-on:click="deleteItem(item)" 
                        class="w3-button w3-display-right w3-hover-red">&times;</span>
                    </li>
                </ul>
            </div>
            <div class="w3-container w3-rest">
                <textarea name="txtDesc" v-model="currentDesc" id="txtDesc" class="w3-right w3-margin-0 w3-white" rows="9" style="width:95%;" disabled></textarea>
            </div>
        </div>
        <div class="w3-margin"></div>

  </div>
</div> 
</div>
   <script type="text/javascript" src="todo.js"></script>
</body>
</html>